<nb-card>
  <nb-card-header>Add to leaderboard</nb-card-header>
  <nb-card-body>
    <input type="text" nbInput fullWidth placeholder="Name (e.g. Richard C)" [formControl]="nameControl">
    @if (nameControl.touched && nameControl.invalid) {
      <p class="error-message">Please enter a first name and at least an initial (e.g. "Richard C").</p>
    }
  </nb-card-body>
  <nb-card-footer>
    <div class="buttons">
      <button nbButton status="primary" (click)="submitDialog()">Add</button>
      <button nbButton status="basic" (click)="cancelDialog()">Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>
