<nb-layout>
  <nb-layout-header fixed>
    @if (showCollpaseSidebar() || showExpandSidebar()) {
    <button outline nbButton (click)="showCollpaseSidebar() ? collapseSidebar() : expandSidebar()" class="toggle-sidebar-button">
      <nb-icon icon="menu-arrow-outline" class="sidebar-collapse-toggle" [class.sidebar-collapse-toggle--expanded]="showExpandSidebar()"></nb-icon>
    </button>
    }
    Xceptor Pool Leaderboard
  </nb-layout-header>

  <nb-sidebar #sidebar responsive (responsiveStateChange)="sidebarResponsiveChange($event)" [compactedBreakpoints]="['xs', 'is', 'sm', 'md']"
              [state]="sidebarState()" (stateChange)="sidebarStateChange($event)">
    <nb-menu [items]="items()">
    </nb-menu>

  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>
    
  </nb-layout-column>
</nb-layout>

