@if (tableData()) {
    <table [nbTreeGrid]="tableData()!">
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; let i = index; columns: columns" [clickToToggle]="false"></tr>
        @for (column of columns; track $index) {
            <ng-container [nbTreeGridColumnDef]="column">
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="killer-table-cell"
                [class.lives-column]="column === 'livesRemaining'">
                    @if(column === 'livesRemaining') {
                        <span class="material-symbols-outlined killer-life">favorite</span>
                        <span class="material-symbols-outlined killer-life">favorite</span>
                        <span class="material-symbols-outlined killer-death">skull</span>
                    } @else {
                        {{row.data[column]}}
                    }
                </td>
            </ng-container>
        }
    </table>
}