@use '../../themes.scss' as *;

:host {
    display: block;
    height: 100%;

    td.killer-table-cell{
        font-size: 24px;
        &.lives-column {
            width: 150px;
            text-align: center;
        }
        span.material-symbols-outlined{
            font-size: 32px;
            &.killer-life{
                color: red;
            }
            &.killer-death {
                color: grey;
            }
        }
    }
}
