@use '../../themes.scss' as *;

:host {
    display: block;
    height: 100%;

    tr {
        &.current {
            background-color: nb-theme(color-primary-200);
        }
    }

    td.killer-table-cell{
        font-size: 24px;
        &.lives-column {
            width: 150px;
            text-align: center;
        }
        span.material-symbols-outlined{
            font-size: 32px;
            padding: 0px 2px;
            &.killer-life{
                color: black;
            }
            &.killer-death {
                color: lightgrey;
            }
        }
    }
}
