@use '../../../themes' as *;

:host {
  display: block;
  height: 100%;

  @keyframes loadingPulse {
    0% {
      background-color: white;
    }
    100% {
      background-color: whitesmoke;
    }
  }

  .mode-button-group {
    display: flex;
    width: 100%;
    background-color: var(--card-background-color);
    margin-bottom: var(--gap-grouped-vertical);

    .mode-button {
      flex: 0 0 33.33%;
      min-width: 0;
    }
  }

  table {
    tr {
      height: 50px;
      &.loading-row {
        &.loading-row-0 td::before {
          animation-delay: 0.2s;
        }
        &.loading-row-1 td::before {
          animation-delay: 0.4s;
        }
        &.loading-row-2 td::before {
          animation-delay: 0.6s;
        }
        td {
          position: relative;
          &::before {
            content: '';
            width: 90%;
            position: absolute;
            height: 80%;
            top: 10%;
            left: 5%;
            border-radius: 10px;
            animation: loadingPulse 1s infinite alternate;
          }
        }
      }

      td {
        cursor: pointer;
      }
    }
  }

  .selected-row {
    background: nb-theme(color-primary-300);
  }

  .extra-info {
    font-style: italic;
  }
}

:host ::ng-deep {
  table.nb-tree-grid {
      table-layout: auto !important;
  }
}
