@use '../../themes' as *;

:host {
  display: block;
  height: 100%;

  .selected-row {
    background: nb-theme(color-primary-300);
  }

  .capitalize-first {
    text-transform: capitalize;
  }

  .extra-info {
    font-style: italic;
  }

  .action-card {
    position: sticky;
    bottom: 0;
  }
}

:host ::ng-deep {
  table.nb-tree-grid {
      table-layout: auto !important;
  }

  nb-card.action-card {
      margin-bottom: 0px !important;
  }
}
