/* You can add global styles to this file, and also import other style files */
// this is our just created themes.scss file, make sure the path to the file is correct
@use 'themes' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}

body {
  // variables
  --gap-grouped-horizontal: 4px;
  --gap-grouped-vertical: 8px;
  --gap-section: 16px;
  --gap-title: 24px;

  nb-card.action-card {
    position: sticky;
    bottom: 0;
    margin-bottom: 0px !important;

    nb-action {
        cursor: pointer;
    }

    .badge-container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 5px;
    }
  }
}